@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@600&display=swap');

:root {
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color 0.3s, background-color 0.3s ease;
}

html,
body {
  max-width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  color: #232134;
}

::selection {
  background: #d1d5db;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ============ Nav Buttons ============ */

.nav__button {
  width: 100%;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.active__nav__button button {
  font-weight: 700;
  background-color: #E5D5FA;
  color: #9854F6;
}

.inactive__nav__button button:hover {
  color: #BD93F7;
}

.inactive__nav__button button:active {
  background-color: #E5D5FA;
  color: #9854F6;
}

/* ============ Reset buttons ============ */

.interactive__button {
  transition: .1s ease;
}

.interactive__button:hover {
  color: #BD93F7;
}

.interactive__button:active {
  color: #541F9D;
}

/* ============ Primary buttons ============ */

.primary__button {
  transition: .3s ease;
}

.primary__button:hover {
  background-color: #BD93F7;
}

.primary__button:active {
  background-color: #541F9D;
}

/* ============ Search input ============ */
.mantine-Input-input.mantine-MultiSelect-input,
.interactive__input input {
  border-color: #D5D6DC;
  transition: .3s ease;
}

.mantine-Input-input.mantine-MultiSelect-input:hover,
.interactive__input input:hover {
  border-color: #9854F6;
}

.mantine-Input-input.mantine-MultiSelect-input:focus,
.interactive__input input:focus {
  border-color: #9854F6;
}

.mantine-Input-input.mantine-MultiSelect-input:active,
.interactive__input input:active {
  border-color: #EAEBED;
}

.mantine-Pagination-control,
.mantine-MultiSelect-option,
.mantine-YearPickerInput-calendarHeaderControl.mantine-UnstyledButton-root,
.mantine-YearPickerInput-calendarHeaderLevel.mantine-UnstyledButton-root,
.mantine-YearPickerInput-yearsListControl.mantine-PickerControl-pickerControl.mantine-UnstyledButton-root {
  transition: .3s ease;
}

.mantine-Pagination-control:hover,
.mantine-MultiSelect-option:hover,
.mantine-YearPickerInput-calendarHeaderControl.mantine-UnstyledButton-root:hover,
.mantine-YearPickerInput-calendarHeaderLevel.mantine-UnstyledButton-root:hover,
.mantine-YearPickerInput-yearsListControl.mantine-PickerControl-pickerControl.mantine-UnstyledButton-root:hover {
  color: #232134;
  background-color: var(--mantine-color-customColors-1);
}

.mantine-MultiSelect-option:active,
.mantine-YearPickerInput-calendarHeaderControl.mantine-UnstyledButton-root:active,
.mantine-YearPickerInput-calendarHeaderLevel.mantine-UnstyledButton-root:active,
.mantine-YearPickerInput-yearsListControl.mantine-PickerControl-pickerControl.mantine-UnstyledButton-root:active {
  color: var(--mantine-color-customColors-0);
  background-color: var(--mantine-color-purpleMain-filled);
}

[data-checked="true"] {
  color: var(--mantine-color-customColors-0);
  background-color: var(--mantine-color-purpleMain-filled);
}

.mantine-MultiSelect-pill {
  padding: 0;
  background-color: transparent;
}

.mantine-MultiSelect-pill button {
  display: none;
}